.idea/

kornel/
pjsip/
pjsip2/

Csip/build
Csip/CsipSimple.iml
Csip/app/build
Csip/\.idea
Csip/\.gradle
Csip/local.properties

ToratlefonScripts/\.idea/
ToratlefonScripts/venv

TortalefonRustScripts/target

TortalefonServer/\.mvn/wrapper/
TortalefonServer/mvnw

*.cmd
*.iml

#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk