<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Base site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/wifi">Wifi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calls">Calls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/callbacks">Callbacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/callform">Create call</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <tr th:each="error : ${errors}">
        <p class="lead m-0 text-danger" th:text="${error}"></p>
    </tr>

    <form action="#" th:action="@{/createcall}" th:object="${call}" method="post">
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" value="sip:" class="form-control" id="address" th:field="*{address}"/>
            <small id="addressHelp" class="form-text text-muted">Vigyázat! "sip:"-al kell kezdődnie a címnek!</small>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
</div>
</body>
</html>