<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
    <div class="container">

        <form class="form-signin" action="#" th:action="@{/login}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-group col-md-6">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                </div>

            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        </form>

    </div>
</body>
</html>