<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Base site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/wifi">Wifi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calls">Calls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/callbacks">Callbacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/callform">Create call</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <form action="#" th:action="@{/adduser}" th:object="${newUser}" method="post" class="mb-2">
        <div class="form-row">
            <div class="form-group col-md">
                <label for="address">Username:</label>
                <input type="text" class="form-control" id="address" th:field="*{username}"/>
            </div>
            <div class="form-group col-md">
                <label for="password">Password:</label>
                <input type="text" class="form-control" id="password" th:field="*{password}"/>
                <small id="passwordHelp" class="form-text text-muted">Warning! The application stores password in
                    plain text for the time being, so use passwords what you don't use anywhere elsewhere!
                </small>
            </div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checked" name="admin" th:checked="${newUser.admin}"/>
            <label for="checked" class="form-check-label">Admin</label>
            <small id="checkedHelp" class="form-text text-muted">An admin profile can modify the users!</small>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
    <hr>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Admin</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.getUsername()}" scope="row">SSID</td>
                <td th:text="${user.getPassword()}">pass</td>
                <td th:text="${user.isAdmin()}">admin</td>
                <td>
                    <form action="/removeuser" method="post">
                        <input hidden="hidden" name="username" th:value="${user.getUsername()}"/>
                        <input class="btn btn-danger" type="submit" name="delete" value="Delete"/>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
        </tr>
    </table>
</div>
</body>
</html>